/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 juil. 2019, 09:55:53
    Author     : Administrateur
*/

#navbarNav2{
    float : left;
}

#Accueil{
    text-align: center;
    background-image: url("./images/bibli.jpg");
    background-position:61.5px center;
    background-repeat: no-repeat;
    height: 640px;
    vertical-align: middle;
}

#Annonce{
    text-shadow: 2px 2px 0px white;
}

footer{
  background-color: #17A2B8;
  padding: 10px 30px 5px 30px;
}

footer a {
    color: white;
}