<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>Mediatheque.InitListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Authentifier</servlet-name>
        <servlet-class>Mediatheque.Authentifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Emprunter</servlet-name>
        <jsp-file>/Emprunt.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <jsp-file>/Connexion.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Navbar</servlet-name>
        <jsp-file>/Navbar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Footer</servlet-name>
        <jsp-file>/Footer.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>FiltrerCata</servlet-name>
        <servlet-class>Mediatheque.FiltrerCata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavbarOut</servlet-name>
        <jsp-file>/NavbarOut.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <jsp-file>/Deconnexion.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <jsp-file>/Inscription.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>InscriptionDB</servlet-name>
        <servlet-class>MySqlDB.InscriptionDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscrire</servlet-name>
        <servlet-class>Mediatheque.Inscrire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExporterBDD</servlet-name>
        <servlet-class>MySqlDB.ExporterBDD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentifier</servlet-name>
        <url-pattern>/Authentifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Emprunter</servlet-name>
        <url-pattern>/Emprunter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Navbar</servlet-name>
        <url-pattern>/Navbar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Footer</servlet-name>
        <url-pattern>/Footer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/#</url-pattern>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltrerCata</servlet-name>
        <url-pattern>/filtrercata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavbarOut</servlet-name>
        <url-pattern>/NavbarOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionDB</servlet-name>
        <url-pattern>/InscriptionDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscrire</servlet-name>
        <url-pattern>/Inscrire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExporterBDD</servlet-name>
        <url-pattern>/ExporterBDD</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
